/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.evidenza{
    background-color: yellow;

}
.contenitore{
    width: 80%;
    margin: auto;

}
/* header */
.header{
background-color: lightblue;
background-image: url(../img/pattern.png);
/* due puntini per uscire da css nell img */
background-size: 250px;
padding-top: 18px;
padding-bottom: 10px;
padding-left: 10px;
}

#header-logo{
    width: 150px;
}
.title-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.autore-info{
    color: gray;
    font-size: .8rem;
}

.autore{
    color: blue;
}


.date{
    color: grey;
    font-size: .6rem;
}
.content{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.content-list{
    margin: 1rem;
}

.content table{
    border-spacing: 0;
}

.content table thead{
    background-color: aquamarine;
}
.footer-title{
    color: grey;
    font-size: .8rem;
    margin-bottom: 1rem;



}

.article-item{
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;

}
